/**********************
      Imports
***********************/

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


/**********************
      variables
***********************/
$theme-colors: (
  primary: #2e5888,
  secondary: #f68735,
  light-blue: #eef6ff,
  transparency: rgba(0,0,0,0)
);
:root{
  --primary: map-get($theme-colors,primary);
  --secondary: map-get($theme-colors,secondary);
}

$body-bg: #fff;

$body-color: map-get($theme-colors,primary);

$font-family-sans-serif: 'Cairo',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$link-hover-decoration: none;

// border radius
$border-radius:               40px;
$border-radius-lg:            40px;
$border-radius-sm:            40px;


// Navbar
$navbar-light-color:                rgba(map-get($theme-colors,primary), .9);
$navbar-light-hover-color:          rgba(map-get($theme-colors,primary), .95);
$navbar-light-active-color:         rgba(map-get($theme-colors,primary), 1);
$navbar-light-disabled-color:       rgba(map-get($theme-colors,primary), .5);

.primary-gradient{
  background: linear-gradient(270deg, map-get($theme-colors,primary) 0%, rgba(map-get($theme-colors,primary),0.9) 100%);
}

// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "../../../node_modules/bootstrap-vue/src/index.scss";
// import bootstrap rtl
@import "rtl";

@import "ltr";

/**********************
      main classes
***********************/
.icon-only{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  text-align: center;
  height: 100%;
}
.cursor-pointer{
  cursor: pointer;
}
.btn:not(.btn-transparency){
  color: #fff;
}

.container-fluid{
  padding: 0 60px;
}

/**********************
      Transition
***********************/

.fade-enter-active {
  transition: opacity 1s
}
.fade-leave-active{
   opacity: 0
}
.fade-enter,
.fade-leave-to {
  opacity: 0
}


.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}


.slide-fade-top-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-top-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-top-enter,
.slide-fade-top-leave-to{
  transform: translateY(-30px);
  opacity: 0;
}




body{
  padding-top: 60px;
}


@media (max-width: 992px) {
  .container-fluid{
    padding: 0 10px;
  }
}